body {
    background-color: antiquewhite;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

h1 {
    background-color: rgb(0, 0, 0);
    text-align: center;
    height: 10vh;
    padding-top: 50px;
    width: 100%;
}

p {
    font-size: 1.2em;
    color: black;
    padding: 0px 20 0 20px;
    font-weight: bold;
}
hr {
    border-color: rgb(0, 0, 0);
    border-style: dashed;
}
