body {
    background-color: antiquewhite;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

div {
    display:flex;
    align-items: center;
    background-color: black;
    height: 10vh;
    padding: 20px;
}

p {
    font-size: 1.2em;
    color: black;
    padding: 20px;
    font-weight: bold;
}
hr {
    border-color: rgb(0, 0, 0);
    border-style: dashed;
}
